ul {
    list-style-type: none;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    font-size: 18px;
    text-align: center;
}

section button {
    background: hsl(322, 100%, 66%);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 220px;
    height: 40px;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 12px;
    font-weight: 400;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
}
article img {
    margin-top: 60px;
    width: 80%;
    height: 80%
}
article {
    margin: 20px;
    margin-top: 40px;
    display: flex;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: hsl(192, 100%, 9%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #E5E5E5;
    border-radius: 20px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}
article p{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 12px;
    color:hsl(208, 11%, 55%);
}
article div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 44px;
}
main {
    color: hsl(192, 100%, 9%);
    padding: 20px 0px;
}
